@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --color-blue-royal: #0A50C9;
  --color-blue-dark: #003399;
  --color-blue-light: #E8F0FE;
  --color-text-dark: #0F172A;
  --color-border-light: #E2E8F0;
  --color-bg-light: #F8FAFC;
  --color-bg-white: #FFFFFF;
  --color-gold-cta: #EAB308;   /* Jaune/Or pour les CTA */

  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-text-dark font-sans antialiased;
  }
}